.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 640px; height: 360px;
    overflow: hidden;
    cursor: pointer;
    
}

.img1, .img2{
    position: absolute;
    top: 0;
    width: 640px; height: 360px;

    background-repeat: no-repeat;
}

.img2{
    background-image: url('example_gif.gif');

    left: 55%;
    background-attachment: fixed;
    border-left: 3px solid rgba(245, 245, 245, 0.103);
}

.img1{
    left: 0;
    background-image: url('example_gif_2.gif');
}

.scroll{
    z-index:999;
    position: absolute;
    width: 50px;
    top:50%;
    left: 50%;
    filter: invert(12%) sepia(97%) saturate(5648%) hue-rotate(358deg) brightness(102%) contrast(111%);
}